@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
:root {
  --main-color: #708b75;
  --accent-color: #edafb8;
}
* {
  box-sizing: border-box;
}
body {
  font-family: "Inter";
}
h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style: none;
  padding: 0;
}

.link {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.container {
  width: 1630px;
  margin: 0 auto;
  padding: 0 15px;
}

.about-hero-section {
  padding-top: 30px;
  padding-bottom: 70px;
}
.about-hero-section > .container {
  padding: 189px 281px 200px;
  text-align: center;
  background: linear-gradient(
      rgba(112, 139, 117, 0.5),
      rgba(112, 139, 117, 0.5)
    ),
    url(../img/about-hero-bg.jpg),
    linear-gradient(rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0.25));
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 30px;
  position: relative;
}
.hero-title,
.hero-text {
  color: #fff;
  font-size: 96px;
  font-weight: 700;
  line-height: normal;
}
.hero-text {
  font-size: 40px;
  font-weight: 500;
  text-align: center;
  margin-top: 32px;
}

.swiper-section {
  padding-bottom: 60px;
}
.swiper-title {
  color: var(--main-color);
  text-align: center;
  font-size: 40px;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 4.8px;
  text-transform: uppercase;
}
.swiper {
  margin-top: 60px;
  position: relative;
}
.swiper-list {
  padding: 20px 20px 230px;
  border-radius: 30px;
  background: #708b7540;
  display: flex;
  flex-wrap: wrap;
  column-gap: 30px;
  row-gap: 20px;
}
.swiper-list-item {
  border-radius: 30px;
  background: #fff;
  flex-basis: 500px;
  padding-top: 20px;
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  background-image: url(../img/cat-card-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
}
.swiper-list-title {
  color: var(--main-color);
  text-align: center;
  font-size: 28px;
  font-weight: 600;
  line-height: normal;
}
.swiper-button-next,
.swiper-button-prev {
  position: absolute !important;
  top: 94% !important;
}
.swiper-button-next {
    right: 40%;
}
.swiper-button-prev {
    left: 40%;
}
.swiper-button-next::after,
.swiper-button-prev::after {
  content: "" !important;
  width: 17px !important;
  height: 18px !important;
  border: solid #fff !important;
  border-width: 0 3px 3px 0 !important;
}
.swiper-button-next::after {
    position: relative;
    right: 2px;
    transform: rotate(-43deg);
}
.swiper-button-prev::after {
    position: relative;
    width: 20px;
    left: 2px;
    transform: rotate(135deg);
}
.swiper-pagination-bullet {
    position: relative;
    bottom: 73px !important;
    background-color: #fff !important;
    opacity: 1 !important;
    width: 50px !important;
    height: 50px !important;
}
.swiper-pagination-bullet-active {
    background-color: var(--main-color) !important;
}