:root {
  --main-color: #708b75;
  --accent-color: #edafb8;
}
.register-container {
  width: 100%;
  height: 100vh;
  background-color: #fff;
  padding: 55px 150px 95px 111px;
  border-radius: 30px;
  display: flex;
  justify-content: space-between;
}
.welcome-container {
  position: absolute;
}
.welcome-text {
  color: rgba(112, 139, 117, 0.75);
  font-family: Inter;
  font-size: 52px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: 6.24px;
  text-transform: uppercase;
  width: 414px;
}
.logo {
  color: var(--main-color);
  display: flex;
  font-size: 48px;
  font-weight: 900;
  line-height: normal;
  letter-spacing: 5.76px;
  text-transform: uppercase;
}
.register-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.register-title {
  color: var(--main-color);
  font-size: 64px;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 60px;
}
.link-container {
  display: flex;
  gap: 100px;
}
.or-text {
  color: var(--main-color);
  font-size: 48px;
  font-weight: 600;
  line-height: normal;
  position: relative;
  top: 30px;
  display: flex;
  align-items: center;
  gap: 39px;
  margin-bottom: 60px;
}
.or-text::before,
.or-text::after {
  content: "";
  display: inline-block;
  background-color: var(--main-color);
  height: 3px;
  width: 180px;
}
.register-form {
  display: flex;
  flex-direction: column;
  gap: 25px;
  align-items: center;
}
.register-input {
  border-radius: 44px;
  background: rgba(112, 139, 117, 0.25);
  border: none;
  padding: 20px 30px;
  color: var(--main-color);
  font-size: 24px;
  font-weight: 500;
  line-height: normal;
  width: 427px;
}
.register-input:focus {
  outline: none;
}
.register-input::placeholder {
  color: var(--main-color);
  font-size: 24px;
  font-weight: 500;
  line-height: normal;
}
.register-input-container {
  display: flex;
  align-items: center;
  position: relative;
}
.register-input-container > svg {
  position: absolute;
  right: 30px;
}
.register-input-container > svg:nth-child(3) {
  display: none;
}
.register-checkbox-container {
  display: flex;
  align-items: center;
  gap: 15px;
}
input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #333;
  cursor: pointer;
  outline: none;
  position: relative;
}
input[type="checkbox"]:checked {
  background-color: var(--main-color);
  border: 1px solid var(--main-color);
}
input[type="checkbox"]:checked::after {
  content: "✓";
  position: absolute;
  width: 15px;
  height: 15px;
  color: #fff;
  left: 30%;
  top: 20%;
}
.register-checkbox-text {
  color: var(--main-color);
  font-size: 22px;
  font-weight: 400;
  line-height: normal;
}
.register-btn {
  border-radius: 30px;
  background: rgba(112, 139, 117, 0.75);
  border: none;
  color: #fff;
  padding: 16px 198px;
  font-family: Inter;
  font-size: 24px;
  font-weight: 400;
  line-height: normal;
}
.register-text,
.register-link {
  color: var(--main-color);
  font-size: 20px;
  font-weight: 400;
  line-height: normal;
  text-align: center;
}
.register-link {
  color: var(--accent-color);
  font-weight: 600;
}
.visibility-btn {
  border: none;
  width: 40px;
  height: 40px;
  background-color: transparent;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 30px;
}
.error {
  border: 1px solid red;
}

.back {
  border: solid #000;
  border-width: 0 2px 2px 0;
  width: 30px;
  height: 30px;
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  transition: 0.3s;
  position: absolute;
  top: 30px;
  left: 50px;
}
.back:hover {
  border: solid var(--main-color);
  border-width: 0 2px 2px 0;
  cursor: pointer;
}
.google > svg,
.facebook > svg,
.twitter > svg,
.logo-span > svg {
  fill: #708b75;
}
.google > svg {
  width: 60px;
  height: 60px;
}
.facebook > svg {
  width: 37px;
  height: 60px;
}
.twitter > svg {
  width: 70px;
  height: 60px;
}
.logo-span > svg {
  position: relative;
  top: 2px;
  right: 2px;
}